table, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    width:100%;
    height:150px;
    
    }
    td {
    width:30%;
    }
    .header {
    overflow: hidden;
    background-color: #0047AB;
    padding: 6px 1px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    }
    .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    }
    .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }
    .header a:hover {
    background-color: #002f71;
    color: rgb(255, 255, 255);
    }
    .header a.active {
    background-color: rgb(45, 30, 255);
    color: white;
    }
    .header-right {
    float: right;
    }
    @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    }
    body{
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    background-image: linear-gradient(to right bottom, #0500ff, #3634f6, #504eea, #6563dc, #7876cd, #8e79c6, #9f7ec0, #ab84ba, #c679b2, #df6d9f, #f26283, #fb5f5f);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    }
.Abdullah{
        text-align: center;
        font-size: 650%;
        margin-bottom: 50%;
        color: white;
        font-family:Arial ;
        }