table, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    width:100%;
    height:150px;
    
    }
    td {
    width:30%;
    }
    .header {
    overflow: hidden;
    background-color: #0047AB;
    padding: 6px 1px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    }
    .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    }
    .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }
    .header a:hover {
    background-color: #002f71;
    color: rgb(255, 255, 255);
    }
    .header a.active {
    background-color: rgb(45, 30, 255);
    color: white;
    }
    .header-right {
    float: right;
    }
    @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    }
    body{
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    background-image: linear-gradient(to right bottom, #0500ff, #3634f6, #504eea, #6563dc, #7876cd, #8e79c6, #9f7ec0, #ab84ba, #c679b2, #df6d9f, #f26283, #fb5f5f);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    }
.Abdullah{
        text-align: center;
        font-size: 650%;
        margin-bottom: 50%;
        color: white;
        font-family:Arial ;
        }
        .button_div{
            align-items: center;
            }
            .button {
            background-color: #ffffff00; /* Green */
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s;
            cursor: pointer;
            align-items: center;
            }
            .My_Skills{
            background-color: #ffffff00; 
            color: rgb(255, 255, 255); 
            border: 2px solid #574caf;
            padding:10px 20px;
            font-size: 20px;
            border-radius: 15px;
            transition-duration: 1s;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            }
            .My_Skills:hover{
            background-color: #574caf;
            color: white;
            transition-duration: 1s;
            border-radius: 15px;
            }
            .About_Me{
            background-color: #574caf;
            color: white;
            transition-duration: 1s; 
            border: 2px solid #574caf;
            padding:10px 20px;
            font-size: 20px;
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            }
            .About_Me:hover{
            background-color: #ffffff00; 
            color: rgb(255, 255, 255); 
            border: 2px solid #574caf;
            transition-duration: 1s;
            border-radius: 15px;
            }
            .font{
            font-family: Arial, sans-serif;
            }.Programming{
                border: 1px solid rgb(255, 255, 255);
                border-collapse: collapse;
                width: 90%;
                height:900px;
                margin: 4.5%;
                border-radius: 10px;
                background-color: whitesmoke;
              }
              .Programming_title{
                font-family: Arial, Helvetica, sans-serif;
                margin-left:30% ;
              }
              .Programming_img{
                margin-left: 28%;
                margin-top:10%;
                height: 25%;
                width: 45%;
              }
              .Programming_text{
                font-family: Arial, Helvetica, sans-serif;
                margin: 50px;
                margin-top: 21%;
                margin-bottom: 900px;
              }
              
              
              .Photo_editing{
                border: 1px solid rgb(255, 255, 255);
                border-collapse: collapse;
                width: 90%;
                height:900px;
                margin: 4.5%;
                border-radius: 10px;
                background-color: whitesmoke;
              }
              .Photoshop_img{
                margin-left: 30%;
                margin-top: 50px;
                margin-bottom: 70px;
              
              }
              .Photo_editing_text{
                font-family: Arial, Helvetica, sans-serif;
                margin: 50px;
                margin-top: 60px;
                margin-bottom: 50px;
              }
              
              .Video_Editing{
                border: 1px solid rgb(255, 255, 255);
                border-collapse: collapse;
                width: 90%;
                height:900px;
                margin: 4.5%;
                border-radius: 10px;
                background-color: whitesmoke;
              }
              .Video_Editing_title{
                font-family: Arial, Helvetica, sans-serif;
                margin-left:30% ;
              }
              .video_editing_img{
                margin-left: 30%;
                margin-top: 50px;
                margin-bottom: 70px;
                border-radius: 5%;
              }
              .video_editing_text{
                font-family: Arial, Helvetica, sans-serif;
                margin: 50px;
                margin-top: 55px;
                margin-bottom: 100px;
              }